@inherits LayoutComponentBase
@inject AccountHttp _accountHttp
@inject AuthenticationStateProvider _authStateProvider
@inject NavigationManager _navigationManager
@inject AuthService _authService

<Layout Style="min-height: 100vh; ">
    <Sider Theme="SiderTheme.Light" Collapsible Collapsed=@collapsed OnCollapse=@onCollapse>
        <div class="logo">
            BasicKube
        </div>
        <NavMenu />
    </Sider>
    <Layout Class="site-layout">
        <AuthorizeView>
            <Authorized>
                <Header Class="site-layout-background">
                    <div class="iam-info">
                        @*iam-info*@
                    </div>
                    <div class="login-display">
                        <span> 
                            Hello, <b>@(context.User.Identity?.Name ?? "NOT LOGIN")</b>
                        </span>
                        <Button Type="@ButtonType.Link" OnClick="@Logout" >Log out</Button>
                    </div>
                </Header>
                <Content Style="margin:0 16px;">
                    @Body
                </Content>
            </Authorized>
            <NotAuthorized>
                 <BasicKube.Web.Pages.RedirectToLogin />
            </NotAuthorized>
        </AuthorizeView>
       
        <Footer Style="text-align:center ">BasiKube ©2023</Footer>
    </Layout>
</Layout>




@code {

    bool collapsed;

    void onCollapse(bool collapsed)
    {
        Console.WriteLine(collapsed);
        this.collapsed = collapsed;
    }


    private async Task Logout()
    {
        var success = await _accountHttp.LogoutAsync();
        if (success)
        {
            (_authStateProvider as IamAuthStateProvider)!.ClearAuthInfo();
            await _authService.ClearAuthed();
            _navigationManager.NavigateTo("/", true);
        }
    }
}